html,
body {
  margin: 0;
  overflow-y: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgba(29, 161, 242, 1);
  overflow-x: auto;
}

#header {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: rgba(29, 161, 242, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 700;
}

#title {
  margin: 0;
}

#main {
}

.trendsDiv {
  background-color: white;
  border-radius: 15px;
  color: black;
  width: 300px;
  height: 490px;
  display: inline-block;
  overflow: hidden;
  white-space: normal;
  position: fixed;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  transition: transform 1.25s;
  z-index: 1;
}

#trends-offLeft {
  transform: translate(-100vw, 0%);
}

#trends-onLeft {
  transform: translate(-50vw, 0%);
}

#trends-active {
  transform: translate(0vw, 0vh);
}

#trends-onRight {
  transform: translate(40vw, 0%);
}

#trends-offRight {
  transform: translate(100vw, 0%);
}

.galleryButton-right {
  top: 90%;
  position: fixed;
  left: 100px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: opacity 0.75s;
  height: 45px;
}

.galleryButton-left {
  top: 90%;
  position: fixed;
  left: 0;
  right: 100px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(180deg);
  z-index: 2;
  transition: opacity 0.75s;
  height: 45px;
}

.galleryButton-faded {
  opacity: 0.2;
}
#date {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 700;
}

.trend {
  margin-top: 10px;
  border-top: 1px solid grey;
  padding-top: 0px;
  padding-left: 10px;
}

.trend p {
  font-weight: 700;
}

#slider {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

#slider img {
  height: 40px;
}

#controls {
  margin-top: 20px;

  text-align: center;
}

.dayButton {
  font-weight: 700;
  font-size: 20px;
  background-color: white;
  border: none;
  color: black;
}

.noData {
  font-size: 22px;
  text-align: center;
  font-weight: 300;
}

#scrollInstruction {
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .trendsDiv {
    top: 20%;
    height: 440px;
  }

  #date {
    font-size: 20px;
  }

  .trend p {
    margin-top: 10px;
  }
}
