@font-face {
  font-family: ArcadeClassic;
  src: url(arcadeclassic/ARCADECLASSIC.TTF);
}

html,
body {
  margin: 0;
  overflow: hidden;
  cursor: none;
}

#score {
  font-size: 90px;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: ArcadeClassic;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#instructions {
  width: 60%;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: ArcadeClassic;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  letter-spacing: 5px;
  text-align: center;
}
