@font-face {
  font-family: ArcadeClassic;
  src: url(arcadeclassic/ARCADECLASSIC.TTF);
}

html,
body {
  margin: 0;
  overflow: hidden;
  cursor: none;
}

#score {
  font-size: 90px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  margin-top: 20px;
  font-family: ArcadeClassic;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
